.section.rptt-calc {
	.form.block {
		form {
			p,
			span,
			label,
			input,
			textarea {
				&:not(.field-description, .field-invalid) {
					color: #000;
				}
			}

			.field-wrapper {
				grid-column: span 12;
				display: block;
			}

			.field-description,
			.field-invalid {
				grid-column: 2 / 3;
				margin-top: 0.25rem;
			}

			.number-wrapper {
				display: grid;
				grid-template-columns: 60% 40%;
				column-gap: 0.5rem;
				width: 100%;
				align-items: center;

				input {
					border: 1px solid #92ACAF;
					text-align: right;
				}

				/* Chrome, Safari, Edge, Opera */
				input[type='number']::-webkit-outer-spin-button,
				input[type='number']::-webkit-inner-spin-button {
					/* stylelint-disable-next-line property-no-vendor-prefix */
					-webkit-appearance: none;
					margin: 0;
				}

				/* Firefox */
				input[type='number'] {
					/* stylelint-disable-next-line property-no-vendor-prefix */
					-moz-appearance: textfield;
				}

				&.field-taxable-amount,
				&.field-percentage-of-ownership,
				&.field-transfer-tax,
				&.field-total-value-sales-price-newform,
				&.field-transfer-tax-value,
				&.field-real-property-transfer-tax-due,
				&.field-percentage-being-transferred {
					input {
						background-color: var(--form-input-disable-color);
					}
				}

			}

			.button-wrapper {
				grid-column: span 12;
				display: flex;
				justify-content: center;
				position: relative;
				width: 103%;
				border-bottom: 2px solid #000;
			}

			.field-estimate-tax-button {
				button {
					background: #0094C3;
					color: #fff !important;
					border: 0;
					border-radius: 0;
					display: inline-block;
					font-size: var(--body-font-size-m);
					font-weight: 400;
					text-decoration: none;
					cursor: pointer;
					line-height: 1;
					vertical-align: top;
					font-family: sans-serif;
					transition: all 0.3s;
					position: relative;
				}
			}

			.plain-text-wrapper {
				grid-column: span 12;
				text-align: center;
			}
		}
	}
}
