/* CSS for Forms RPTT Calculator  */

/* This CSS is for the RPTT calculator form in the right section of the main menu.
   It styles the form, its labels, inputs, and buttons to create a user-friendly interface.
   The styles are responsive and adapt to different screen sizes. */

.section.rptt-calc .form.block {
    form {
        * {
            color: #000;
        }

        .number-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: 0;
        }

        .number-wrapper label {
            flex-basis: 75%;
        }

        .number-wrapper input {
            flex-basis: 25%;
            border: 1px solid #92ACAF;
            background-color: #eee;
            text-align: right;
        }

        [class*="fixed"] input {
            background-color: white;
            text-align: right;
        }

        .number-wrapper:first-child label{
            flex-basis: 50%;
        }

        .number-wrapper.field-taxable-amount label {
            flex-basis: 60%;
        }

        .number-wrapper.field-taxable-amount input {
            flex-basis: 40%;
        }

        .number-wrapper:first-child input{
            flex-basis: 50%;
        }

        .number-wrapper.field-transfer-tax {
            margin-top: 10vh;
        }

        .number-wrapper.field-deed-in-lieu-fixed label {
            flex-basis: 60%;
        }

        .number-wrapper.field-deed-in-lieu-fixed input {
            flex-basis: 40%;
        }

        [class*="newform"] {
            margin-top: 10vh;
        }

        .button-wrapper {
            display: flex;
            justify-content: end;
            position: relative;
            width: 103%;
            border-bottom: 2px solid #000;
        }
      
        .field-estimate-tax-button button {
            background: #0094C3;
            color: #fff;
            border: 0;
            border-radius: 0;
            display: inline-block;
            font-size: var(--body-font-size-m);
            font-weight: 400;
            text-decoration: none;
            cursor: pointer;
            line-height: 1;
            vertical-align: top;
            font-family: sans-serif;
            transition: all .3s;
            right: 4vw;
            position: relative;
        }

    }
}