.accordion.block details {
    border-top: 2px solid var(--neutral-black-400);
}

.accordion.block details:last-child {
    border-bottom: 2px solid var(--neutral-black-400);
}

.accordion.block details summary {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    padding: 13px 0 13px 10px;
    cursor: pointer;
    transition: 0.4s;
    list-style: none;
}

.accordion.block details summary::before {
    content: '';
    background: url('../../icons/chevron-down-grey.svg') center center no-repeat;
    width: 24px;
    height: 24px;
}

.accordion.block details summary p {
    color: var(--neutral-black-800);
    font-weight: var(--font-weight-bold);
    line-height: 120%;
    margin: 0;
}

.accordion.block details .content {
    padding: 0 45px;
    background: var(--background-color);
    font-size: var(--body-font-size-m);
}

.accordion.block details .content p {
    margin: 0 0 20px;
    line-height: 1.5;
}

.accordion.block summary h4 {
    margin: 0;
    color: var(--neutral-black-800);
}

.accordion.block details[open] summary::before {
    background: url('../../icons/chevron-up-orange.svg') center center no-repeat;
}

.accordion.block details[open] summary p,
.accordion.block details[open] summary h4 {
    color: var(--primary-orange-600);
}

.accordion.block details[open] .content {
    background-color: var(--background-color);
}

.accordion.block table tr {
    height: 30px;
}

.image-left img {
    float: left;
    padding-right: 10px;
}

.image-small img {
    width: 7%;
    padding-right: 10px;
}

.table-col1-50 table {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 85%;
}

.table-col1-50 table tbody tr td:nth-child(odd) {
    width: 50%;
}

.faq-image img {
    height: 275px;
    width: auto;
}

@media (width >= 900px) {
    .accordion.block {
        padding: 20px 0 50px;
    }
}
