/* Video Style */
.video {
  text-align: center;
  max-width: 900px;
  margin: 24px auto;
}

.video[data-embed-loaded='false']:not(.placeholder) {
  /* reserve an approximate space to avoid extensive layout shifts */
  /* aspect-ratio: 16 / 9; */
}

.video > div {
  display: flex;
  justify-content: center;
}

.video.table {
  max-width: 1200px;
}

.video video {
  max-width: 100%;
}

.video.table > div {
  gap: 20px;
  flex-direction: column;
}

@media (width >= 900px) {
  .video.table > div {
    flex-direction: row;
    margin-bottom: 5vh;
    gap: 20px;
  }
}

.video.table video {
  height: 80%;
}

.video.table div.text {
  font-size: 18px;
  font-weight: bold;
  font-family: var(--heading-font-family);
  line-height: 1.2;
  height: 60px;
}

.video .video-placeholder {
  width: 100%;
  /* height: 100%; */
  aspect-ratio: 16 / 9;
  position: relative;
}

.video .video-placeholder > * {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0;
}

.video[data-embed-loaded='true'] .video-placeholder,
.video[data-embed-loaded='false'] .video-placeholder + * {
  visibility: hidden;
  height: 0;
  width: 0;
}

.video .video-placeholder picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video .video-placeholder-play button {
  position: relative;
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  outline: 2px solid;
  padding: 0;
}

.video .video-placeholder-play button::before {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 0;
  height: 24px;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 18px solid;
  top: 50%;
  left: calc(50% + 2px);
  transform: translate(-50%, -50%);
}

/* Video - Width Medium */
.video.width-medium {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  width: 100%;
  aspect-ratio: 16 / 9;
  position: relative;
}

.video.width-medium .video-content {
  order: 2;
  flex-flow: column nowrap;
  background-color: var(--neutral-black-200);
  padding: 24px;
}

.video.width-medium .video-content p {
  margin: 0;
  font-size: var(--body-font-size-s);
}

.video.width-medium .video-player {
  order: 1;
}

/* Video - Left/Right Aligned */
.video.left-align,
.video.right-align {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  width: 100%;
  max-width: 1338px;
  margin: 20px auto 0;
  padding: 0 24px;
}

.rightsection .video.left-align,
.rightsection .video.right-align {
  padding: 0;
}

.video.left-align .video-player,
.video.right-align .video-player {
  align-self: stretch;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 16 / 9;
}

.video.left-align .video-placeholder,
.video.right-align .video-placeholder {
  align-self: stretch;
  width: 100%;
  aspect-ratio: 16 / 9;
  /* min-width: 400px; */
}

.video.left-align .video-player {
  order: 1;
}

.video.left-align .video-content {
  order: 2;
}

.video.right-align .video-player {
  order: 2;
}

.video.right-align .video-content {
  order: 1;
}

.video.left-align .video-content,
.video.right-align .video-content {
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--neutral-black-200);
  padding: 24px;
}

.video.left-align .video-content p,
.video.right-align .video-content p {
  margin: 0 0 5px;
  line-height: 125%;
  font-size: var(--body-font-size-s);
}

.video .video-content h5 {
  color: var(--neutral-black-800);
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}

.video .video-content h3 {
  color: var(--primary-orange-600);
  margin: 8px 0 16px;
}

.video.right-align {
  width: 560px;
  float: inline-end;
}

@media (width >= 1440px) {
  .video.width-medium .video-content p {
    font-size: var(--body-font-size-m);
  }

  .rightsection .video.video.left-align,
  .rightsection .video.video.right-align {
    flex-flow: column nowrap;
  }

  /* .rightsection .video.video.left-align .video-player,
  .rightsection .video.video.right-align .video-player {
    max-width: none;
  } */

  .video.left-align,
  .video.right-align {
    flex-flow: row nowrap;
    margin: 40px auto 0;
  }

  .video.left-align .video-player,
  .video.right-align .video-player {
    max-width: 400px;
  }

  .video.left-align .video-placeholder,
  .video.right-align .video-placeholder {
    max-width: 400px;
    min-height: 283px;
  }

  .video.left-align .video-content p,
  .video.right-align .video-content p {
    font-size: var(--body-font-size-m);
  }
}

@media (width >= 1200px) {
  .rightsection .video.video.left-align,
  .rightsection .video.video.right-align {
    flex-flow: row nowrap;
  }
  
  /* .video.left-align .video-player,
  .video.right-align .video-player {
    max-width: 400px;
  }

  .video.left-align .video-placeholder,
  .video.right-align .video-placeholder {
    max-width: 400px;
    min-height: 283px;
  } */

  /* .rightsection .video.video.left-align .video-player,
  .rightsection .video.video.right-align .video-player {
    min-width: 400px;
  } */
}

/* Mobile override only */
/* @media (max-width: 400px) {
  .video-player {
    width: 350px !important;
  }
} */