.accordion-ml.block ul {
    margin-left: -1.8em;
}

.accordion-ml details ul {
    margin: 0;
}

.accordion-ml details a {
    font-size: 14px;
    font-family: 'Neue Montreal', sans-serif;
    padding: 15px 60px 15px 15px;
}

.accordion-ml details:not(:has(ul)) summary > div {
    padding: 7px 60px 15px 0;
}

details > summary {
    position: relative;
    cursor: pointer;
    list-style: none;
    overflow: auto;
    transition: background-color 0.3s;
    line-height: 1 !important;
}

details > summary::-webkit-details-marker {
    display: none;
}

details > summary:has(+ ul) > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

details > summary:has(+ ul) div.markerdiv {
    position: relative;
    width: 45px;
    margin-left: auto
}

details > summary:has(+ ul) div.markerdiv::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 17px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 7px solid black;
    transition: transform .3s;
}

details[open] > ul {
    margin-left: -1.8em;
}

details[open] > summary:has(+ ul) div.markerdiv::after {
    transform: translateY(-50%) rotate(-180deg);
}

/* @keyframes details-show {
    from {
      opacity:0;
      transform: var(--details-translate, translateY(-0.5em));
    }
  }

  details[open] > *:not(summary) {
    animation: details-show 300ms ease-in-out;
  } */