/* Featured Events */
.featured-events.block {
  width: 100%;
  max-width: 1440px;
  margin: 40px auto;
  display: block;
}

.featured-events.block .columns.block {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}

.featured-events.block .columns.block .column1 {
  width: 100%;
  display: block;
  text-wrap: unset;
}

.featured-events.block .columns.block .column1 > p {
  white-space: normal;
  overflow: unset;
}

.featured-events.block .columns.block > div > div > p {
  margin: 0;
}

.featured-events.block .event {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  cursor: pointer;
}

.featured-events.block .event-image {
  flex: 0 0 240px;
  align-self: stretch;
}

.featured-events.block .event-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.featured-events.block .event-body {
  flex: 1;
  padding: 24px;
  background-color: var(--neutral-black-200);
}

.featured-events.block .title {
  color: var(--primary-orange-600); 
  line-height: 120%;
}

.featured-events.block .date {
  color: var(--neutral-black-800);
  font-size: var(--body-font-size-s);
  font-style: normal;
  font-weight: var(--font-weight-bold);
  line-height: 120%;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  display: flex;
  align-items: flex-end;
  gap: 12px;
}

.featured-events.block .date img {
  width: 24px;
  height: 24px;
}

.featured-events.block .description {
  margin: 0;
  font-size: var(--body-font-size-s);
  line-height: 125%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: initial;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.featured-events.block .path {
  display: none;
}

.featured-events.block .see-more {
  text-align: center;
  margin-top: 40px;
}

.featured-events.block .see-more > a {
  margin: 0;
}

.featured-events.block .event-modal {
  display: none;
}

@media (width >= 900px) {
  .featured-events.block .event-image img {
    width: 240px;
  }

  .featured-events.block .columns.block {
    grid-template-columns: repeat(2, minmax(300px, 649px));
    justify-content: center;
  }

  .featured-events.block .event {
    flex-flow: row wrap;
  }
}
