*, ::after, ::before {
    box-sizing: border-box;
}

main .mainmenu {
    display: flex; 
    flex-direction: column; 
}

@media (width >=900px) {
    main .mainmenu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        top: -1.02vh;
    }

    main .mainmenu .leftsection {
        padding: 33px 15px 15px;
        flex: 0 0 22%;
        max-width: 400px;
        background-color: var(--orange);
    }

    main .mainmenu .leftsection h2 {
        font: 700 20px var(--heading-font-family);
        color: #fff;
        text-transform: uppercase;
        padding: 75px 10px 11px 0;
        margin-bottom: 8px;
    }

    main .mainmenu .rightsection {
        width: 100%;
        flex: 100%;
    }
}