.hero-container .hero-wrapper {
  max-width: unset;
  padding: 0;
}

.hero {
  position: relative;
  padding: 40px 24px;
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

main .hero.text {
  color: var(--neutral-white);
  background-color: var(--primary-orange-600);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 14px 24px;
}

main .hero.text h1,
main .hero.text h2 {
  margin: 0;
  font-size: var(--heading-font-size-xl);
}

main .hero.text.homepage div div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 2vw;
  align-items: center;
}

main .hero.text.homepage div div a {
  display: none;
}

@media (width >= 900px) {
  .hero.text {
    padding: 11px 51px;
  }

  main .hero.text h1,
  main .hero.text h2 {
    font-size: var(--heading-font-size-xxl);
  }

  main .hero.text.homepage div div a {
    display: inline-flex;
    align-items: center;
    font: 400 24px var(--heading-font-family);
    color: var(--neutral-black);
    background: var(--neutral-white);
    padding: 20px 60px;
    text-transform: capitalize;
    text-decoration: none;
    text-align: center;
    margin: 0;
  }
}
