.newslist.block .news-items {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
}

.newslist.block .news {
  display: flex;
  flex-flow: column nowrap;
  gap: 0;
  align-items: stretch;
  width: 100%;
}

.newslist.block .news > div:first-child {
  min-height: 262px;
  width: 100%;
}

.newslist.block .news > div:first-child p {
  margin: 0;
  height: 262px;
}

.newslist.block .news > div:last-child {
  background-color: var(--neutral-black-200);
  padding: 24px;
}

.newslist.block .news > div:last-child > p {
  margin: 0;
  height: 100%;
}

.newslist.block .news .pagetitle {
  margin: 0 0 24px;
  color: var(--primary-orange-600); 
  line-height: 120%;
}

.newslist.block .news .fw-bold {
  font-weight: var(--font-weight-bold);
  color: var(--neutral-black);
}

.newslist.block .news .button {
  margin: auto 0 0;
  font-size: var(--body-font-size-s);
}

.newslist.block .news > div:last-child .card-right p {
  margin: 0 0 24px;
  font-size: var(--body-font-size-s);
}

.newslist.block .news > div:last-child .card-right p:last-of-type {
  margin: 0 0 40px;
}

.newslist.block .news .card-left {
  height: 100%;
}

.newslist.block .news .card-left img {
  height: 100%;
  object-fit: cover;
}

.newslist.block .news .card-right {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
}

.newslist.block .pagination {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 50px 0 100px;
  padding: 0;
  list-style: none;
  gap: 4px;
}

.newslist.block .pagination .notvisible {
  display: none;
}

.newslist.block .columns-wrapper:has(ul.pagination) {
    margin-top: 0;
}

.newslist.block ul.pagination li {
  display: flex;
}

.newslist.block ul.pagination a {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-orange-600);
  text-decoration: none;
}

.newslist.block ul.pagination li.active {
  background-color: var(--primary-orange-600);
  border-color: var(--primary-orange-600);
  color: var(--neutral-white);
}

.newslist.block ul.pagination li.active a {
  color: var(--neutral-white);
}

.newslist.block ul.pagination li.active a:hover,
.newslist.block ul.pagination li.active a:focus {
  background-color: var(--primary-orange-900);
  border-color: var(--primary-orange-900);
}

.newslist.block ul.pagination li a:hover,
.newslist.block ul.pagination li a:focus {
  background-color: var(--primary-orange-600);
  border-color: var(--primary-orange-600);
  color: var(--neutral-white);
}

.newslist.block ul.pagination li.prev.disabled,
.newslist.block ul.pagination li.next.disabled {
  opacity: 0.5;
}

.newslist.block ul.pagination li.prev > a:hover,
.newslist.block ul.pagination li.next > a:hover {
  background-color: var(--neutral-white);
}

.newslist.block ul.pagination li.prev:not(.disabled) > a:focus,
.newslist.block ul.pagination li.next:not(.disabled) > a:focus {
  background-color: var(--primary-orange-600);
}

.newslist.block ul.pagination li.prev:not(.disabled) > a:focus::before {
  filter: brightness(0) invert(1);
}

.newslist.block ul.pagination li.next > a:focus::after {
  filter: brightness(0) invert(1);
}

.newslist.block ul.pagination li.prev > a::before {
  content: '';
  background: url('../../icons/chevron-up.svg') center center no-repeat;
  width: 24px;
  height: 24px;
  display: inline-block;
  transform: rotate(-90deg);
}

.newslist.block ul.pagination li.prev:not(.disabled) > a:hover::before {
  background: url('../../icons/chevron-down.svg') center center no-repeat;
  transform: rotate(90deg);
}

.newslist.block ul.pagination li.next > a::after {
  content: '';
  background: url('../../icons/chevron-up.svg') center center no-repeat;
  width: 24px;
  height: 24px;
  display: inline-block;
  transform: rotate(90deg);
}

.newslist.block ul.pagination li.next:not(.disabled) > a:hover::after {
  background: url('../../icons/chevron-down.svg') center center no-repeat;
  transform: rotate(-90deg);
}

@media (width >= 900px) {
  .newslist.block .news {
    flex-flow: row wrap;
  }

  .newslist.block .news > div:first-child {
    min-width: 300px;
    width: 300px;
    min-height: 300px;
    max-width: 300px;
  }

  .newslist.block .news > div:first-child p {
    height: 100%;
  }

  .newslist.block .news > div:last-child .card-right p {
    font-size: var(--body-font-size-m);
  }

  .newslist.block .news .button {
    font-size: var(--body-font-size-m);
  }

  .newslist.block .card-left img {
    width: 100%;
    height: 100%;
    min-height: 306px;
    object-fit: cover;
  }
}

@media (width >= 1200px) {
  .newslist.block .news > div:first-child {
    min-width: 400px;
    width: 400px;
    min-height: 306px;
    max-width: 400px;
  }
}
