.newslist.block label {
    display: block;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: .5rem;
    line-height: 1.7;
    font-family: var(--heading-font-family);
}

.newslist.block #news-filter {
    margin-bottom: 20px;
    border: 1px solid #e9eaec;
    padding: 10px 14px;
    outline: none;
    font-size: 13px;
    font-family: sans-serif;
    color: #777;
    display: inline-block;
    background: #fff;
    border-radius: 0;
    box-shadow: none;
    word-wrap: normal;
    text-transform: none;
}

