/* Alert Popup/Banner Component */
.alert-popup.popup[data-block-name="alert-popup"] {
  display: none;
}

/* Popup */
.modal.alert-popup dialog {
  width: 100%;
  border: none;
  background-color: var(--primary-orange-900);
}

.modal.alert-popup.popup dialog {
  max-width: calc(100% - var(--spacing-m));
}

.modal.alert-popup.popup dialog::backdrop {
  display: none;
}

.modal.alert-popup .close-button {
  top: 5px;
  right: 5px;
}

.modal.alert-popup .close-button .icon.icon-close::before,
.modal.alert-popup .close-button .icon.icon-close::after {
  background-color: var(--background-color);
  width: 20px;
}

.alert-popup.banner p {
  margin: 0;
}

.modal.alert-popup.popup .modal-content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 18px;
  padding: 36px 14px 28px;

  h5 {
    font-weight: var(--font-weight-bold);
    font-size: var(--body-font-size-m);
    color: var(--color-white);
    line-height: 120%;
    margin: 0 0 24px;
  }

  p {
    margin: 0 0 24px;
    color: var(--color-white);
    font-size: var(--body-font-size-s);
    font-weight: var(--font-weight-book);
    font-family: var(--heading-font-family);
    line-height: 125%;
  }

  p.button-container {
    margin-bottom: 0;

    a {
      color: var(--color-white);
      font-family: var(--heading-font-family);
      font-weight: var(--font-weight-book);
      font-size: var(--body-font-size-s);
      line-height: 120%;
      vertical-align: middle;
      text-decoration: underline;
      text-decoration-style: solid;
      text-decoration-thickness: 6%;
    }
  }
}

.alert-popup .icon {
  padding: 0;
  width: 24px;
  height: 24px;
}

.alert-popup.popup .icon {
  width: 24px;
  height: 24px;
}

.alert-popup.banner .icon {
  width: 40px;
  height: 40px;
}

.alert-popup.banner h3 {
  margin-top: 0;
}

/* Banner */
.alert-popup.banner.warning {
  &.high {
    background-color: var(--primary-orange-900);
    color: var(--color-white);
  }

  &.low {
    background-color: var(--light-color);

    h3 {
      color: var(--primary-orange-900);
    }
  }
}

.alert-popup.banner.information {
  &.high {
    background-color: var(--secondary-blue-800);
    color: var(--color-white);
  }

  &.low {
    background-color: var(--light-color);

    h3 {
      color: var(--secondary-blue-800);
    }
  }
}

.alert-popup.banner > div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 18px;
  padding: 36px 14px 28px;
}

/* Desktop */
@media (width >= 900px) {
  .modal.alert-popup.popup dialog {
    margin-bottom: 24px;
    margin-right: 24px;
    max-width: 342px;
  }
}