/* Documents Center */
.document-center {
  width: 100%;
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 24px;
}

.document-center .doc-search-button {
  font-size: var(--body-font-size-m);
  margin: 0;
  padding: 8px 20px;
  text-overflow: unset;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  min-width: fit-content;
  height: 40px;
}

.document-center .doc-search-form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
}

.document-center .doc-search-input {
  flex: 1;
  width: 100%;
  height: 40px;
  border: 2px solid var(--neutral-black-800);
  color: var(--neutral-black-800);
  font-size: var(--body-font-size-m);
  font-style: normal;
  font-weight: var(--font-weight-book);
  line-height: 125%;
  padding: 9px 16px;
}

.document-center .doc-search-input::-webkit-search-cancel-button {
  cursor: pointer;
  appearance: none;
  width: 18px;
  height: 18px;
  background: url('../../icons/search-close.svg') center center no-repeat;
  background-size: contain;
}

.document-center .doc-search-input:focus {
  outline: 0;
}

.document-center .documents-wrap {
  margin-top: 50px;
}

.document-center details[open] > summary::before {
  background: url('../../icons/chevron-down.svg') center center no-repeat;
}

.document-center details[open] > summary .summary-title {
  color: var(--primary-orange-600);
}

.document-center summary {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  border-bottom: 2px solid var(--neutral-black-400);
  padding: 8px 12px;
}

.document-center summary::before {
  content: '';
  background: url('../../icons/chevron-up.svg') center center no-repeat;
  width: 18px;
  height: 18px;
  display: inline-block;
}

.document-center summary .summary-title,
.document-center summary p {
  margin: 0;
}

.document-center summary .summary-title {
  color: var(--neutral-black-800);
  margin-left: 12px;
}

.document-center summary .doc-center-counter {
  font-size: var(--body-font-size-s);
}

.document-center summary .doc-center-counter,
.document-center summary .doc-center-counter-inner {
  margin-left: auto;
}

.document-center .content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.document-center .content ul li {
  border-bottom: 2px solid var(--neutral-black-400);
  padding: 8px 20px;
}

.document-center .content a {
  text-decoration: underline;
}

.document-center .doc-group-description {
  padding-left: 50px;
}

.document-center .search-result-files {
  margin: 0;
  padding: 0;
  list-style: none;
}

.document-center .search-result-files li {
  border-bottom: 2px solid var(--neutral-black-400);
  padding: 6px 18px;
}

.document-center .file-item {
  font-size: var(--body-font-size-s);
  display: flex;
  flex-direction: column;
}

.document-center .file-item > a::before {
  display: inline-block;
  width: 16px;
  height: 16px;
  font-family: var(--icon-font-family);
  color: var(--primary-orange-600);
  margin-right: 8px;
}

.document-center .file-item .fa-file-text-o::before {
  content: "\f0f6";
}

.document-center .file-item .fa-file-pdf-o::before {
  content: "\f1c1";
}

.document-center .file-item span.doc-file-desc {
  margin-left: 20px;
}

@media (width >= 900px) {
  .document-center {
    padding: 0;
  }

  .document-center .doc-search-form {
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  .document-center summary .doc-center-counter {
    font-size: var(--body-font-size-m);
  }

  .document-center .file-item {
    font-size: var(--body-font-size-m);
  }

  .document-center summary::before {
    width: 24px;
    height: 24px;
  }

  .document-center .content ul li {
    padding: 8px 25px;
  }
}
