.newsletter {
    position: relative;
    background: var(--dark-orange);
    border-top: 35px solid rgb(179 70 40);

    .default-content-wrapper {
        border: none;
        padding: 52px 59px 49px 40px;
        display: inline-block;
        background: #F8F7EE;
    }

    h2 {
        font: 400 15px var(--body-font-family);
        color: var(--orange);
        margin: unset;
    }

    a {
        color: #000;
        text-decoration: underline;
        font-size: var(--body-font-size-s);
    }
}

footer {
    .footer {
        .newsletter:first-child {
            width: 100%;
        }
    }
}

@media (width > 991px) {
    .newsletter h2 {
        font: 400 24px var(--body-font-family);
    }

    .newsletter > div {
        padding: 52px 59px 49px 40px;
        width: 665px;
    }
}

/* Footer */
.footer {
    background-color: var(--primary-orange-600);
}

.footer > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 25px;
}

.footer h5 {
    color: var(--neutral-white);
    text-transform: uppercase;
    letter-spacing: 0.8px;
    margin: 0 0 12px;
}

/* Footer Left */
.footer .footer-left {
    width: 100%;
    margin-bottom: 40px;
}

.footer .footer-left p {
    text-align: center;
    margin: 0;
}

/* Footer Middle */
.footer .footer-middle {
    width: 100%;
}

.footer .footer-middle ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer .footer-middle > div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
}

.footer .footer-middle p {
    color: var(--neutral-white);
}

.footer .footer-middle a {
    color: var(--neutral-white);
}

.footer .footer-middle a:focus {
    background-color: transparent;
}

.footer .footer-middle .middle-left,
.footer .footer-middle .middle-right {
    flex: 1 1 0;
}

/* Footer Right */
.footer .footer-right {
    margin-top: 40px;
}

.footer .footer-right ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    list-style: none;
    padding: 0;
}

.footer .footer-right p {
    color: var(--neutral-white);
}

/* Footer Bottom */
.footer .footer-bottom {
    border-top: 2px solid var(--neutral-white);
    color: var(--neutral-white);
    width: 100%;
}

.footer .footer-bottom ul {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    list-style: none;
    margin: 20px 0 0;
    padding: 0;
    font-size: var(--body-font-size-s);
}

@media (width >= 600px) {
    .footer h5 {
        margin: 0 0 24px;
    }

    .footer .footer-left {
        width: 100%;
        margin: 0 auto 40px;
    }

    .footer .footer-left p {
        text-align: center;
        margin: 0;
    }

    .footer .footer-middle {
        width: 75%;
    }

    .footer .footer-middle > div {
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .footer .footer-right {
        width: 25%;
        margin-top: 0;
    }
}

@media (width >= 900px) {
    .footer .footer-left {
        width: 25%;
    }

    .footer .footer-left img {
        max-width: 175px;
    }

    .footer .footer-middle {
        width: 50%;
    }

    .footer .footer-right {
        width: 25%;
    }

    .footer .footer-bottom ul {
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        margin: 40px 0 0;
    }
}

@media (width >= 1200px) {
    .footer > div {
        padding: 50px;
    }

    .footer .footer-left img {
        max-width: none;
    }

    .footer .footer-left p {
        text-align: left;
    }
}
