/* Footer */
.footer h5 {
    color: var(--neutral-white);
    text-transform: uppercase;
    letter-spacing: 0.8px;
    margin: 0 0 12px;
}

.footer .footer-top-section {
    background-color: var(--neutral-black-200);
}

.footer .footer-bottom-section {
    background-color: var(--primary-orange-600);
}

.footer .footer-bottom-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

/* Footer Newsletter */
.footer .newsletter {
    width: 100%;
    padding: 24px;
}

.footer .section.newsletter > .default-content-wrapper {
    padding: 0;
}

.footer .newsletter h2 {
    margin: 0 0 24px;
    color: var(--primary-orange-600);
}

.footer .newsletter .button-container {
    margin: 0;
}

.footer .newsletter a {
    padding: 10px 24px;
    background-color: var(--primary-orange-600);
    color: var(--neutral-white);
    text-decoration: none;
    font-size: var(--body-font-size-s);
    font-weight: var(--font-weight-bold);
    line-height: 110%;
}

.footer .newsletter a:hover {
    background-color: var(--primary-orange-300);
}

.footer .newsletter a:focus {
    background-color: var(--primary-orange-300);
    border: 2px solid var(--primary-orange-600);
}

/* Footer Left */
.footer .footer-left {
    width: 100%;
    margin-bottom: 40px;
    padding-top: 24px;
}

.footer .footer-left p {
    text-align: center;
    margin: 0;
}

.footer .footer-desktop-logo {
    display: none;
}

.footer .footer-mobile-logo img {
    max-width: 300px;
}

/* Footer Middle */
.footer .footer-middle {
    width: 100%;
}

.footer .footer-middle ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer .footer-middle > div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
}

.footer .footer-middle p {
    color: var(--neutral-white);
}

.footer .footer-middle a {
    color: var(--neutral-white);
    font-size: var(--body-font-size-s);
    font-weight: var(--font-weight-book);
    line-height: 120%;
}

.footer .footer-middle a:hover {
    color: var(--neutral-black-400);
}

.footer .footer-middle a:focus {
    border: 1px solid var(--neutral-white);
    color: var(--neutral-white);
    background-color: transparent;
}

.footer .footer-middle a:focus:hover {
    color: var(--neutral-black-400);
}

.footer .footer-middle a:visited {
    color: var(--secondary-orange-400);
}

.footer .footer-middle a:disabled {
    color: var(--neutral-black-400);
}

.footer .footer-middle .middle-left,
.footer .footer-middle .middle-right {
    flex: 1 1 0;
}

/* Footer Right */
.footer .footer-right {
    margin-top: 40px;
}

.footer .footer-right ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    list-style: none;
    padding: 0;
}

.footer .footer-right p {
    color: var(--neutral-white);
}

/* Footer Bottom */
.footer .footer-bottom {
    border-top: 2px solid var(--neutral-white);
    color: var(--neutral-white);
    width: 100%;
    padding-bottom: 40px;
}

.footer .footer-bottom ul {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    list-style: none;
    margin: 20px 0 0;
    padding: 0;
    font-size: var(--body-font-size-s);
}

@media (width >= 600px) {
    .footer h5 {
        margin: 0 0 24px;
    }

    .footer .footer-left {
        width: 100%;
        margin: 0 auto 40px;
    }

    .footer .footer-left p {
        text-align: center;
        margin: 0;
    }

    .footer .footer-mobile-logo img {
        max-width: none;
    }

    .footer .footer-middle > div {
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

@media (width >= 900px) {
    .footer .newsletter {
        padding: 40px 50px;
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
    }

    .footer .newsletter h2 {
        margin: 0 0 40px;
    }

    .footer .newsletter a {
        font-size: var(--body-font-size-m);
    }

    .footer .section.footer-left > .default-content-wrapper,
    .footer .section.footer-middle > .default-content-wrapper,
    .footer .section.footer-right > .default-content-wrapper {
        padding: 0;
    }

    .footer .footer-left {
        width: 25%;
        padding: 50px 0 0 50px;
    }

    .footer .footer-desktop-logo {
        display: block;
    }

    .footer .footer-mobile-logo {
        display: none;
    }

    .footer .footer-left img {
        max-width: 175px;
    }

    .footer .footer-middle {
        width: 50%;
        padding: 50px 0;
    }

    .footer .footer-middle a {
        font-size: var(--body-font-size-m);
    }

    .footer .footer-right {
        width: 25%;
        margin-top: 0;
        padding: 50px 50px 0 0;
    }

    .footer .footer-middle > div {
        flex-flow: row wrap;
    }

    .footer .footer-bottom ul {
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        margin: 40px 0 0;
    }
}

@media (width >= 1200px) {
    .footer .footer-left img {
        max-width: none;
    }

    .footer .footer-left p {
        text-align: left;
    }
}

@media (width >= 1400px) {
    .footer .footer-bottom > .default-content-wrapper {
        padding: 0;
    }
}
