/* html, body {
  height: 100%;
  margin: 0;
} */
 
.pbi {
  height: 100vh;
  width: 100%;
  border: 0;
}

#log {
  font: 12px/1.4 monospace;
  white-space: pre-wrap;
  padding: 8px;
  background: #f7f7f7;
  border-top: 1px solid #eee;
}

.err {
  color: #b00020;
}
